@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Column selection highlight in ag-grid */
.ag-theme-alpine .ag-header-cell.ag-column-selected {
  background-color: rgb(228 228 231);
}

